@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]

@using Chinook.Models
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;

<div class="clearfix">
    <h1>
        <label class="float-start"> Playlist:</label>
        @if (isPlayListRenaming)
        {
            <input @bind="Playlist.Name" type="text" id="PlaylistNameInput" class="form-control m-1 p-2 w-25 float-start" placeholder="Name for the playlist">
            <a href="#" class="m-1 float-start ms-2" title="Save play list name" @onclick="@(() => RenamePlayListName())" @onclick:preventDefault><i class="bi bi-save"></i></a>
        }
        else
        {
            <span class="float-start"><strong>@Playlist.Name</strong></span>
            <a href="#" class="m-1 float-start" title="Edit play list name" @onclick="@(() => isPlayListRenaming = true)" @onclick:preventDefault><i class="bi bi-pencil-square"></i></a>
        }

        <a href="#" class="m-1 float-start" title="Remove play list" @onclick="@(() => RemovePlayList())" @onclick:preventDefault><i class="bi bi-trash"></i></a>
    </h1>
</div>

@if (!string.IsNullOrWhiteSpace(InfoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InfoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (Playlist == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in StateContainer.UserPlaylists.First(p => p.Id == PlaylistId).Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (Playlist.Name != Constants.FavoritePlayListName)
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                }
                                else
                                {
                                    <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                                }
                            }

                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}